<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="form-group row">
            <label for="id_supplier" class="col-sm-3 col-form-label">Proveedor:</label>
            <div class="col-sm-9">
            {{ purchase_form.supplier }}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_buy_date" class="col-sm-3 col-form-label">Fecha Compra:</label>
            <div class="col-sm-9">
                {{ purchase_form.buy_date}}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_order_number" class="col-sm-3 col-form-label">No. Factura:</label>
            <div class="col-sm-9">
                {{ purchase_form.order_number}}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_order_date" class="col-sm-3 col-form-label">Fecha Factura:</label>
            <div class="col-sm-9">
                {{ purchase_form.order_date}}
            </div>
        </div>
        <div class="form-group">
            <label for="id_observations">Descripción / Observaciones:</label>
            {{ purchase_form.observations}}
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <h5 class="text-primary mt-md-3 mt-lg-0">Resumen de Totales</h5>
        <div class="row py-1">
            <label class="col-6 col-form-label font-weight-bold">Sub Total:</label>
            <div class="col-6">
                {{ purchase_form.subtotal }}
            </div>
        </div>
        <div class="row py-1">
            <label class="col-6 col-form-label font-weight-bold">Descuento Total:</label>
            <div class="col-6">
                {{ purchase_form.discount }}
            </div>
        </div>
        <div class="row py-1">
            <label class="col-6 col-form-label font-weight-bold">IVA Total:</label>
            <div class="col-6">
                {{ purchase_form.tax }}
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row py-1">
            <label class="col-6 col-form-label font-weight-bolder text-dark">TOTAL COMPRA:</label>
            <div class="col-6">
                {{ purchase_form.total_amount }}
            </div>
        </div>
    </div>
</div>