<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {% if obj %}Editar{% else %}Nuevo{% endif %} Producto
            </h5>
            <button type="button" class="close" onclick="close_modal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <form method="post" role="form" 
        action="{% if product %}{% url 'inv:update_product' product.id %}{% else %}{% url 'inv:create_product' %}{% endif %}"
        enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div class="card border-left-success shadow">
                    <div class="card-body">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-3">
                            {% if obj %}Editar{% else %}Nuevo{% endif %} Producto
                        </div>
                        <div class="dropdown-divider"></div>
                        
                        <!-- Renderizar campos manualmente -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>{{ form.code.label }}</label>
                                {{ form.code }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>{{ form.bar_code.label }}</label>
                                {{ form.bar_code }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>{{ form.subcategory.label }}</label>
                                {{ form.subcategory }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>{{ form.brand.label }}</label>
                                {{ form.brand }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>{{ form.name.label }}</label>
                                {{ form.name }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>{{ form.description.label }}</label>
                                {{ form.description }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label>{{ form.price.label }}</label>
                                {{ form.price }}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>{{ form.stock.label }}</label>
                                {{ form.stock }}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>{{ form.unit_measure.label }}</label>
                                {{ form.unit_measure }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>{{ form.last_purchase_price.label }}</label>
                                {{ form.last_purchase_price }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>{{ form.last_buy_date.label }}</label>
                                {{ form.last_buy_date }}
                            </div>
                        </div>
                        
      <div class="row">
    <div class="col-md-12 mb-3">
        <label class="modern-checkbox">
            {{ form.status }}
            <span class="check-icon"></span>
            <span class="ml-3">{{ form.status.label }}</span>
        </label>
    </div>
</div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="close_modal()">
                    <i class="fas fa-times"></i> Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<style>
.modern-checkbox {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.modern-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s;
}

.modern-checkbox input:checked ~ .check-icon {
    background-color: #28a745;
    border-color: #28a745;
}

.check-icon:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.modern-checkbox input:checked ~ .check-icon:after {
    display: block;
}
</style>