<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  {% load auth_extras %}
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "home:home" %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">RammerBot Inventory &copy;</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home:dashboard' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Opciones solo para administrador -->
  {% if request.user|has_group:"Admin" %}
  <div class="sidebar-heading">
    Opciones de Administrador
  </div>
  
  <!-- Nav Item - Administrar Usuarios -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
      <i class="fas fa-fw fa-users"></i>
      <span>Administrar Usuarios</span>
    </a>
    <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Administrar Usuarios</h6>
        <a class="collapse-item" href="{% url "home:user_list" %}">Usuarios</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Administrar Inventarios -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory" aria-expanded="true" aria-controls="collapseInventory">
      <i class="fas fa-fw fa-warehouse"></i>
      <span>Administrar Inventarios</span>
    </a>
    <div id="collapseInventory" class="collapse" aria-labelledby="headingInventory" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Administrar inventarios</h6>
        <a class="collapse-item" href="{% url "inv:category_list" %}">Categorias</a>
        <a class="collapse-item" href="{% url "inv:sub_category_list" %}">Sub Categorias</a>
        <a class="collapse-item" href="{% url "inv:brand_list" %}">Marcas</a>
        <a class="collapse-item" href="{% url "inv:unit_measure_list" %}">Unidades de Medidas</a>
        <a class="collapse-item" href="{% url "inv:products_list" %}">Productos</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Administrar Compras -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePurchases" aria-expanded="true" aria-controls="collapsePurchases">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Administrar Compras</span>
    </a>
    <div id="collapsePurchases" class="collapse" aria-labelledby="headingPurchases" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Administrar Compras</h6>
        <a class="collapse-item" href="{% url "purchases:suppliers_list" %}">Proveedores</a>
        <a class="collapse-item" href="{% url "purchases:purchase_list" %}">Compras</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Administrar Compras -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true" aria-controls="collapseSales">
      <i class="fas fa-fw fa-shopping-cart"></i>
      <span>Administrar Ventas</span>
    </a>
    <div id="collapseSales" class="collapse" aria-labelledby="headingSales" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Administrar Ventas</h6>
        <a class="collapse-item" href="{% url "sales:customers_list" %}">Clientes</a>
        <a class="collapse-item" href="{% url "sales:sales_list" %}">Ventas</a>
      </div>
    </div>
  </li>
  {% endif %}


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->