{% extends 'layout.html' %}
{% block title %} Factura {% endblock title %}
{% block content %}
{% include 'includes/side_bar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include "includes/header.html" %}
            <form method="post" id="frmFacturas">
                {% csrf_token %}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <a href="#" class="btn btn-danger">Guardar</a>
                    <a href="#" class="btn btn-success" target="_factura">Imprimir</a>
                    <a href="{% url 'sales:sales_list' %}" class="btn btn-info">Cancelar</a>
                </div>
                <div class="card-body">
                    <div class="content">
                        <!-- Sección Superior -->
                        <div class="row">
                            <!-- Sección Izquierda -->
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-1">N° Factura</div>
                                    <div class="col-lg-4">
                                        <input type="text" {% if header%} value="{{header.invoice_number}}" {%endif%} name="header_id" class="form-control" id="header_id" readonly>
                                    </div>
                                    <div class="col-lg-2">Cliente</div>
                                    <div class="col-lg-5 form-group">
                                        <select class="js-example-basic-single" name="header_cliente" id="header_cliente">                                      
                                            <option></option>
                                            {% for customer in customers %}
                                                <option value="{{customer.id}}">{{customer.full_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 p2">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                Fecha:
                                            </div>
                                            <div class="col-lg-8 form-group">
                                                <input type="text" name="date" id="date" class="form-control form-control-user" value="{{header.date|date:'d-m-Y'}}" readonly>
                                            </div>
                                        </div>                           
                                    </div>
                                    <div class="col-lg-6 p2 form-group">
                                        <div class="row">
                                            <div class="col-lg-4">SubTotal</div>
                                            <div class="col-lg-8">
                                                <input type="number" name="subTotal" id="subTotal" value="0.00" readonly class="form-control text-right">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">Desc. %</div>
                                            <div class="col-lg-8">
                                                <input type="number" disabled value="0.00" name="discount" id="discount" class="form-control text-right">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">IVA %</div>
                                            <div class="col-lg-8">
                                                <input type="number" disabled value="0.00" name="tax" id="tax" class="form-control text-right">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">Total</div>
                                            <div class="col-lg-8">
                                                <input type="number" disabled value="0.00" name="total" id="total" class="form-control text-right">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin Sección Izquierda -->


                            <!-- Sección Derecha -->
                            <div class="col-lg-6 from-group border">
                                <div class="row p-2">
                                    <div class="col-lg-1">Cod</div>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" name="code" id="code" placeholder="Cód. Producto">
                                    </div>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" name="product" id="product" placeholder="Producto" disabled>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="button" class="btn btn-info" id="btnBuscar">
                                            <i class="fab fa-searchengin"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1">Cant</div>
                                    <div class="col-lg-3">
                                        <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Cantidad">
                                        <input type="hidden" class="form-control" name="stock" id="stock">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="number" class="form-control" name="price" id="price" placeholder="Precio" readonly>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="number" class="form-control" name="discount_detail" id="discount_detail" placeholder="Descuento">
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-danger" id="btnGuardar"> <i class="far fa-plus-square"></i> </button>
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col-lg-9 text-right">Sub Total</div>
                                    <div class="col-lg-3">
                                        <input type="number" class="form-control" name="subTotal_detalle" id="subTotal_detalle" placeholder="Sub Total"
                                        value="0.00" disabled>
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col-lg-9 text-right">IVA%</div>
                                    <div class="col-lg-3">
                                        <input type="number" class="form-control" name="tax_detalle" id="tax_detalle" placeholder="IVA %"
                                        value="0.00" disabled>
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col-lg-9 text-right">Total</div>
                                    <div class="col-lg-3">
                                        <input type="number" class="form-control" name="total_detail" id="total_detail" placeholder="Total"
                                        value="0.00" disabled>
                                    </div>
                                </div>                               
                            </div>
                            <!-- Fin Sección Derecha -->
                        </div>
                        <!-- Fin Sección Superior -->
                        <!-- Inicio Detalle -->
                        <hr>
                        <div class="row p-1">
                            <div class="col-lg-12">
                                <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%" id="details-table">
                                    <thead>  
                                        <tr>                                         
                                        <th data-sortable="true" data-field="codigo">Código</th>
                                        <th data-sortable="true" data-field="descripcion">Producto</th>
                                        <th data-field="cantidad">Cant</th>
                                        <th data-field="subtotal">S. Total</th>
                                        <th data-field="descuento">IVA</th>
                                        <th data-field="descuento">Des.</th>
                                        <th data-field="total">Total</th>
                                        <th class="all">Acciones</th>
                                    </thead>
                                    <tbody>
                                        {% for item in detail%}
                                        <tr>
                                            <td>{{ item.product.code }}</td>
                                            <td>{{ item.producto.name }}</td>
                                            <td>{{ item.quantity}}</td>
                                            <td>{{ item.subtotal }}</td>
                                            <td>{{ item.tax }}</td>
                                            <td>{{ item.discount }}</td>
                                            <td>{{ item.total_amunt }}</td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-circle"
                                                onclick="borrar_detalle({{ item.id }})">
                                                <i class="fas fa-history"></i>
                                            </button>
                                        </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Fin Detalle -->
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    {% block modal %}
        <div class="modal fade" id="popup" >
        </div>
    {% endblock modal %}
{% endblock %}
{% block JavaScript %}
<script>

    // In your Javascript (external .js resource or <script> tag)
    $(function () {
        $("#sidebarToggle").click();
        $('#enc_cliente').select2({
            placeholder: "Seleccione Cliente",
            allowClear: true
        });

       $("#btnBuscar").click(function(e){
    if ($("#enc_cliente").val()==="0"){
        mensaje("Cliente No Seleccionado",'red');
        return false;
    }
    // Cargar contenido en el modal via AJAX y luego mostrarlo
    var url = "{% url 'sales:search_product' %}";
    $('#popup').load(url, function() {
        // Inicializar y mostrar el modal
        var myModal = new bootstrap.Modal(document.getElementById('popup'));
        myModal.show();
    });
});

    $('.table').DataTable({
            "pageLength": 5,
            "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
            }
        });
    });
</script>
{% endblock %}