{% extends "layout.html" %}
{% load static %}
{% block title %}Ventas{% endblock title %}

{% block content %}
{% include "includes/side_bar.html" %}
    <!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    {% include "includes/header.html" %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Dropdown Card  -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Listado de Ventas</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Acciones:</div>
              <a class="dropdown-item" href="{% url 'sales:sale_create' %}"><i class="far fa-calendar-plus"></i> Nueva</a>
              <a class="dropdown-item" href="{% url "purchases:purchase_report_filter"  %}" target="reportes"><i class="fas fa-print"></i>Reportes PDF</a>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          {% if not sales %}
          <div class="alert alert-info">No hay Ventas</div>
            {% endif %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>No. Factura</th>   
                  <th>Fecha</th>
                  <th>cliente</th>
                  <th>Sub Total</th>
                  <th>Descuento</th>
                  <th>Iva %</th>
                  <th>Total</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
               <tbody>
                  {% for item in sales %} 
                    <tr>
                      <td>{{ item.invoice_number }}</td>
                      <td>{{ item.date }}</td>
                      <td>{{ item.customer.full_name }}</td>
                      <td>{{item.subtotal}}</td>
                      <td>{{ item.discount }}</td>
                      <td>{{ item.tax }}</td>
                      <td>{{ item.total_amount }}</td>
                      <td>{{item.status|yesno:"Activo, Inactivo"}}</td>
                       <td>
                        <a class="btn btn-warning btn-circle" href="{% url "sales:sale_update" item.id %}"><i class="far fa-edit"></i></a>
                        <a class="btn btn-success btn-circle" href="{% url "purchases:pirnt_purchase_report" item.id %}" target="reportes"><i class="fas fa-print"></i></a>
                      </td> 
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}
  </div>
</div>
{% endblock content %}
{% block JavaScript %}
<script>
  $(document).ready(function() {
    $('.table').DataTable( {
  dom: '<"top"fi><"toolbar">rt<"bottom"lpB><"clear">',
  "paging":   true,
  "ordering": true,
  "info":     true,
    "language": {
        "decimal":        ".",
        "emptyTable":     "No hay datos en la tabla",
        "info":           "Mostrando del _START_ al _END_ de _TOTAL_ registros",
        "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
        "infoFiltered":   "(filtrados a partir de _MAX_ registros)",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "Mostrando _MENU_ registros",
        "loadingRecords": "Cargando...",
        "processing":     "Procesando...",
        "search":         "Busqueda:",
        "zeroRecords":    "No se encontraron registros coincidentes",
        "paginate": {
        "first":      "Primero",
        "last":       "Ultimo",
        "next":       "Siguiente",
        "previous":   "Anterior"
        },
        "aria": {
        "sortAscending":  ": activa la ordenación ascendente",
        "sortDescending": ": activate la ordenanción descendente"
          }
      }      
    }
 
    );
  });
</script>

<script>
    {% if messages %}  
        {% for message in messages %}
            message("{{ message }}", 'green')
        {% endfor %}
    {% endif %}
</script>
{% endblock JavaScript %}