{% extends 'layout.html'%}

{% load static %}
{% block title %}Compras{% endblock %}

{% block content %}

<!-- Incluir SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    {% include "includes/side_bar.html" %}
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include "includes/header.html" %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <form method="post" id="frmCompras">
                    {% csrf_token %}
                    <div class="col-xl-12 col-md-12 mb-12">
                        {% if header %}
                        <div class="card border-left-warning shadow h-100 py-2">
                        {% else %}
                        <div class="card border-left-success shadow h-100 py-2">
                        {% endif %}
                            <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                {% if header %} Editar {% else %} Nueva {% endif %} Compra
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="row">
                                                <!-- Inicio Izquierda -->
                                                <div class="col-6">
                                                    <!-- Inicio Encabezado -->
                                                    <div class="form-group row">
                                                        <label for="supplier" class="col-sm-2 col-form-label">Proveedor:</label>
                                                        <div class="col-sm-10">
                                                        {{ purchase_form.supplier }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="id_buy_date">Fecha Compra:</label>
                                                                {{ purchase_form.buy_date}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="description">Descripción:</label>
                                                                {{ purchase_form.observations}}
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="order_number">No. Factura:</label>
                                                                {{ purchase_form.order_number}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="id_order_date">Fecha Factura:</label>
                                                                {{ purchase_form.order_date}}
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="subtotal">Sub Total:</label>
                                                                </div>
                                                                <div class="col">
                                                                    {{  purchase_form.subtotal }}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="discount">Descuento:</label>
                                                                </div>
                                                                <div class="col">
                                                                    {{  purchase_form.discount }}
                                                                </div>
                                                            </div>
                                                            <!-- Nuevo campo para mostrar IVA del encabezado -->
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="tax">IVA:</label>
                                                                </div>
                                                                <div class="col">
                                                                    {{  purchase_form.tax }}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="total_amount">Total:</label>
                                                                </div>
                                                                <div class="col">
                                                                    {{  purchase_form.total_amount }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Fin Encabezado -->
                                                </div>
                                                <!-- Fin Izquierda -->
                                                <!-- Inicio Derecha -->
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col">
                                                            <table class="table table-striped table-hover dt-responsive table-sm nowrap tbl-productos" style="width:100%">
                                                                <thead>
                                                                    <th>Codigo</th>        
                                                                    <th class="all">Producto</th>
                                                                    <th class="all">Acciones</th>
                                                                </thead>
                                                                <tbody>
                                                                    {% for item in products %}
                                                                    <tr>
                                                                    <td>{{ item.code }}</td>
                                                                    <td>{{ item.name}}</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-success "
                                                                        onclick="selectProducto({{item.id}},'{{item.name}}', {{item.code}})" > <i class="far fa-plus-square"></i></button>
                                                                    </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="id_id_producto" class="col-sm-3 col-form-label">Producto</label>
                                                        <div class="col-sm-2">
                                                            <input type="text" readonly class="form-control-plaintext" name="id_id_producto" id="id_id_producto" value="" required>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <input type="text" readonly class="form-control-plaintext" id="id_descripcion_producto" value="" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="id_cantidad_detalle" class="col-sm-2 col-form-label">Cant.:</label>
                                                        <div class="col-sm-2">
                                                            <input type="number" class="form-control" name="id_cantidad_detalle" id="id_cantidad_detalle" value="00" required>
                                                        </div>
                                                        <label for="id_precio_detalle" class="col-sm-2 col-form-label">Precio:</label>
                                                        <div class="col-sm-2">
                                                            <input type="number" class="form-control-plaintext" name="id_precio_detalle" id="id_precio_detalle" value="00" required>
                                                        </div>
                                                        <label for="id_descuento_detalle" class="col-sm-2 col-form-label">Desc. %:</label>
                                                        <div class="col-sm-2">
                                                            <input type="text" class="form-control" name="id_descuento" id="id_descuento" value="00"> 
                                                            <input type="text" class="form-control" name="id_descuento_detalle" id="id_descuento_detalle" hidden value="00">
                                                        </div>
                                                        <label for="id_impuesto_detalle" class="col-sm-2 col-form-label">IVA%:</label>
                                                        <div class="col-sm-2">
                                                            <input type="checkbox" class="form-control" name="id_impuesto_detalle" id="id_impuesto_detalle" >
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input type="number" readonly class="form-control-plaintext" name="id_impuesto" id="id_impuesto" > 
                                                        </div>

                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="subtotal" class="col-sm-2 col-form-label">S. Total:</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" readonly class="form-control-plaintext" name="id_sub_total_detalle" id="id_sub_total_detalle" value="00">
                                                        </div>
                                                        <label for="id_total_detalle" class="col-sm-2 col-form-label">Total:</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" readonly class="form-control-plaintext col-sm-10" name="id_total_detalle" id="id_total_detalle" value="00">
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="button" class="btn btn-sm col-sm-2" onclick="clear_Detail();"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                                                        </div>
                                                    </div>
                                                    <!-- Botones -->
                                                    <div class="dropdown-divider"></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Guardar</button>
                                                            <a href="{% url 'purchases:purchase_list' %}" class="btn btn-danger"><i class="far fa-hand-point-left"></i> Cancelar</a>
                                                        </div>
                                                    </div>
                                                    <!-- Fin Botones -->
                                                </div>
                                                <!-- Fin Derecha -->
                                            </div>
                                            <!-- Inicio Detalle -->
                                            <div class="row">
                                                <div class="col">
                                                    <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%" id="details-table">
                                                        <thead>
                                                            <th>Producto</th>        
                                                            <th>Cantidad</th>
                                                            <th>Precio</th>
                                                            <th>Sub Total</th>
                                                            <th>Desc.</th>
                                                            <th>IVA</th>
                                                            <th>Total</th>
                                                            <th class="all">Acciones</th>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in purchase_items %}
                                                            <tr id="item-{{ item.id }}">
                                                                <td>{{ item.product.name }}</td>
                                                                <td>{{ item.quantity }}</td>
                                                                <td>${{ item.unit_price }}</td>
                                                                <td>${{ item.subtotal }}</td>
                                                                <td>${{ item.discount }}</td>
                                                                <td>${{ item.tax }}</td>
                                                                <td>${{ item.total_price }}</td>
                                                                <td>
                                                                    <button type="button" 
                                                                            class="btn btn-danger btn-circle btn-sm" 
                                                                            onclick="deleteItem({{ item.id }}, {{ header.id }})"
                                                                            title="Eliminar item">
                                                                        <i class="fas fa-trash-alt"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- Fin Detalle -->
                                        </div>
                                    </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block modal %}
<div class="modal fade" id="popup" >
</div>
{% endblock modal %}
{% endblock %}
{% block JavaScript %}

<!-- Incluir SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script>
    function open_modal(url) 
    {
        $('#popup').load(url, function(){
        $(this).modal({
            backdrop: 'static',
            keyboard: false
        })
        $(this).modal('show');
       });
       return false;
    }
    function close_modal(){
        $('#popup').modal('hide');
        return false;
    }
</script>

<script>
    function updateTotals(totals) {
        console.log('Actualizando totales del encabezado:', totals);
        
        const subtotalField = document.querySelector('[name="subtotal"]');
        const discountField = document.querySelector('[name="discount"]');
        const taxField = document.querySelector('[name="tax"]');
        const totalAmountField = document.querySelector('[name="total_amount"]');
        
        if (totals.subtotal !== undefined && subtotalField) {
            subtotalField.value = totals.subtotal;
        }
        
        if (totals.discount !== undefined && discountField) {
            discountField.value = totals.discount;
        }
        
        if (totals.tax !== undefined && taxField) {
            taxField.value = totals.tax;
        }
        
        if (totals.total_amount !== undefined && totalAmountField) {
            totalAmountField.value = totals.total_amount;
        }
    }

    async function deleteItem(itemId, purchaseId) {
        const result = await Swal.fire({
            title: '¿Estás seguro?',
            text: "¡Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar',
            customClass: {
                popup: 'custom-swal-popup'
            }
        });

        if (!result.isConfirmed) {
            return;
        }

        const deleteBtn = event.target.closest('button');
        const originalHtml = deleteBtn.innerHTML;
        deleteBtn.innerHTML = '<i class="fas fa-spinner fa-spin"></i>';
        deleteBtn.disabled = true;

        try {
            const response = await fetch(`/purchases/delete/${purchaseId}/${itemId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            });

            if (!response.ok) {
                throw new Error('Error en la respuesta del servidor');
            }

            const data = await response.json();

            if (data.success) {
                // Eliminar la fila de la tabla con animación
                const row = document.getElementById(`item-${itemId}`);
                if (row) {
                    row.style.transition = 'all 0.3s ease';
                    row.style.opacity = '0';
                    setTimeout(() => row.remove(), 300);
                }
                
                // Actualizar los totales en el formulario
                if (data.updated_totals) {
                    updateTotals(data.updated_totals);
                }
                
                // Mostrar mensaje de éxito
                await Swal.fire({
                    title: '¡Eliminado!',
                    text: 'Item eliminado correctamente',
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    timer: 2000,
                    showConfirmButton: false
                });
            } else {
                throw new Error(data.error || 'Error desconocido del servidor');
            }
        } catch (error) {
            console.error('Error:', error);
            await Swal.fire({
                title: 'Error',
                text: 'Error al eliminar el item: ' + error.message,
                icon: 'error',
                confirmButtonColor: '#d33'
            });
        } finally {
            // Restaurar el botón
            deleteBtn.innerHTML = originalHtml;
            deleteBtn.disabled = false;
        }
    }

    // Función para enviar el formulario por AJAX
    // Función para enviar el formulario por AJAX
    function submitFormAJAX() {
        const formData = new FormData(document.getElementById('frmCompras'));
        
        // Mostrar indicador de carga
        const submitBtn = document.querySelector('button[type="submit"]');
        const originalHtml = submitBtn.innerHTML;
        submitBtn.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Guardando...';
        submitBtn.disabled = true;

        fetch(window.location.href, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error en la respuesta del servidor');
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                // Si hay una URL de redirección (nueva factura creada)
                if (data.redirect_url) {
                    Swal.fire({
                        title: '¡Éxito!',
                        text: data.message || 'Factura creada correctamente',
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        timer: 2000,
                        showConfirmButton: false
                    }).then(() => {
                        // Redirigir a la edición de la nueva factura
                        window.location.href = data.redirect_url;
                    });
                } else {
                    // Actualizar los totales en el formulario (para facturas existentes)
                    if (data.updated_totals) {
                        updateTotals(data.updated_totals);
                    }
                    
                    // Mostrar mensaje de éxito
                    Swal.fire({
                        title: '¡Éxito!',
                        text: data.message || 'Producto guardado correctamente',
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        timer: 3000,
                        showConfirmButton: false
                    }).then(() => {
                        // Recargar la página para mostrar los nuevos items
                        window.location.reload();
                    });
                }
            } else {
                throw new Error(data.error || 'Error desconocido del servidor');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                title: 'Error',
                text: 'Error al guardar: ' + error.message,
                icon: 'error',
                confirmButtonColor: '#d33'
            });
        })
        .finally(() => {
            // Restaurar el botón
            submitBtn.innerHTML = originalHtml;
            submitBtn.disabled = false;
        });
    }

    // Estilos personalizados para SweetAlert2
    const style = document.createElement('style');
    style.textContent = `
        .custom-swal-popup {
            font-family: inherit;
            border-radius: 0.5rem;
        }
        .swal2-confirm {
            border-radius: 0.25rem !important;
        }
    `;
    document.head.appendChild(style);
</script>

<script>
    $(function () {
        $("#id_buy_date, #id_order_date").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });

        $("#sidebarToggle").click();

        $('.table').DataTable({
            "pageLength": 5,
            "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
            }
        });

        $('#id_cantidad_detalle,#id_precio_detalle,#id_descuento, #id_impuesto_detalle').change(function(){
            calcular_detalle();
        });

        /*Validar y Enviar Formulario por AJAX */
        $("#frmCompras").submit(function(e){
            e.preventDefault();

            // Validaciones básicas
            let hasErrors = false;
            const orderNumber = $("#id_order_number").val();
            const buyDate = $("#id_buy_date").val();
            const orderDate = $("#id_order_date").val();
            const totalDetalle = $('#id_total_detalle').val();
            const idProducto = $('#id_id_producto').val();

            if(!orderNumber || orderNumber.trim() === ""){
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Debe Especificar No. de Factura'
                });
                hasErrors = true;
            }

            if((!buyDate || buyDate === "") || (!orderDate || orderDate === "")){
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Debe Especificar Fecha de Compra y Factura'
                });
                hasErrors = true;
            }

            if(!totalDetalle || totalDetalle == 0 || !idProducto || idProducto === ""){
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'No ha agregado producto o está sin cantidades'
                });
                hasErrors = true;
            }

            if (!hasErrors) {
                submitFormAJAX();
            }
        });
        /*Fin Validar Envío de Detalle */
    });

    function selectProducto(id, name,  code, stock) {
        $("#id_cantidad_detalle").val(1); // Cambiar a 1 en lugar de 0
        $('#id_precio_detalle').val(0);
        $('#id_descuento').val(0);
        $('#id_descuento_detalle').val(0);
        $('#id_impuesto').val(0);
        $('#id_impuesto_detalle').prop('checked', false);

        $('#id_sub_total_detalle').val(0);
        $('#id_total_detalle').val(0);

        $("#id_id_producto").val(id);
        $('#id_descripcion_producto').val(name);
        $('#id_cantidad_detalle').focus();
        $('#id_cantidad_detalle').select();

        // Calcular automáticamente al seleccionar producto
        calcular_detalle();
        
        $('.table').DataTable().search('').draw();
    }

    function calcular_detalle() {
        let cant, prec, descPorcentaje, descMonto, stotal, total, impuesto;

        cant = parseFloat($("#id_cantidad_detalle").val()) || 0;
        cant = cant < 0 ? 0 : cant;

        prec = parseFloat($('#id_precio_detalle').val()) || 0;
        prec = prec < 0 ? 0 : prec;

        descPorcentaje = parseFloat($('#id_descuento').val()) || 0;
        descPorcentaje = descPorcentaje < 0 ? 0 : descPorcentaje;
        descPorcentaje = descPorcentaje > 100 ? 100 : descPorcentaje;

        stotal = cant * prec;

        // Calcular IVA (19%)
        if ($("#id_impuesto_detalle").is(":checked")) {
            impuesto = stotal * 0.19;
        } else {
            impuesto = 0;
        }

        // Calcular descuento en monto (sobre subtotal + IVA)
        descMonto = (stotal + impuesto) * (descPorcentaje / 100);
        total = (stotal + impuesto) - descMonto;

        // Actualizar campos
        $('#id_cantidad_detalle').val(cant);
        $('#id_precio_detalle').val(prec.toFixed(2));
        $('#id_descuento_detalle').val(descMonto.toFixed(2));
        $('#id_sub_total_detalle').val(stotal.toFixed(2));
        $('#id_total_detalle').val(total.toFixed(2));
        $('#id_impuesto').val(impuesto.toFixed(2));
    }

    function clear_Detail(){
        $('#id_cantidad_detalle').val(0);
        $('#id_precio_detalle').val(0);
        $('#id_descuento').val(0);
        $('#id_descuento_detalle').val(0);
        $('#id_impuesto_detalle').prop('checked', false);

        $('#id_sub_total_detalle').val(0);
        $('#id_total_detalle').val(0);
        $('#id_impuesto').val(0);

        $('#id_id_producto').val('');
        $('#id_descripcion_producto').val('');

        $('.table').DataTable().search('').draw();
        // Cambiar el focus a un campo que exista
        $("#id_cantidad_detalle").focus();
    }

    $("#id_proveedor").focus();
</script>

<script>
    {% if messages %}  
        {% for message in messages %}
            Swal.fire({
                icon: 'success',
                title: 'Éxito',
                text: '{{ message }}',
                timer: 3000,
                showConfirmButton: false
            });
        {% endfor %}
    {% endif %}
</script>
{% endblock %}